<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>anatine - a free css template</title>
    <link rel="stylesheet" href="stylesheets/styles.css" type="text/css" />
    <!--[if lt IE 9]>
    <![endif]-->
    <!--
    anatine, a free CSS web template by ZyPOP (zypopwebtemplates.com/)

    Download: http://zypopwebtemplates.com/

    License: Creative Commons Attribution
    //-->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>

<section id="body" class="width">
    <aside id="sidebar" class="column-left">

        <header>
            <h1><a href="#">PlentyofCats</a></h1>

            <h2>Share what you want!</h2>

        </header>

        <nav id="mainnav">
            <ul>
                <li class="selected-item"><a href="index.ejs">Post an AD</a></li>
                <li><a href="/users">Men seeking Women</a></li>
                <li><a href="#">Men seeking Men</a></li>
                <li><a href="#">Women seeking Men</a></li>
                <li><a href="#">Women seeking Women</a></li>
            </ul>
        </nav>



    </aside>
    <section id="content" class="column-right">

        <article>


            <h2>Tell people what you want</h2>
            <div class="article-info">Posted on <time datetime="2013-05-14">14 May</time> by <a href="#" rel="author">Joe Bloggs</a></div>

            <p>Welcome to anatine, a free premium valid CSS3 &amp; HTML5 web template from <a href="http://zypopwebtemplates.com/" title="ZyPOP">ZyPOP</a>. This responsive template is completely <strong>free</strong> to use permitting a link remains back to  <a href="http://zypopwebtemplates.com/" title="ZyPOP">http://zypopwebtemplates.com/</a>.</p>

            <p>Should you wish to use this template unbranded you can buy a template license from our website for 8.00 GBP, this will allow you remove all branding related to our site, for more information about this see below.</p>

            <p>This template has been tested in:</p>


            <ul class="styledlist">
                <li>Firefox</li>
                <li>Opera</li>
                <li>IE</li>
                <li>Safari</li>
                <li>Chrome</li>
            </ul>

            <a href="#" class="button">Read more</a>
            <a href="#" class="button button-reversed">Comments</a>



        </article>

        <article class="expanded">



            <a href="#" class="button">Read more</a>
            <a href="#" class="button button-reversed">Comments</a>
        </article>


        <footer class="clear">
            <p>&copy; 2015 sitename. <a href="http://zypopwebtemplates.com/">Free CSS Templates</a> by ZyPOP</p>
        </footer>

    </section>

    <div class="clear"></div>

</section>


</body>
</html>
